*{
    margin:0;
}
#header{
    height: 60px;
    /* background-color: crimson; */
}
#logo{
    margin-left: 50px;
    height:60px;
}
#heading{
    font-size: 30px;
    margin-left: 20px;
    position: absolute;
    margin-top:13px;
    font-family: candara;
}
#nav{
    position:sticky;
    top:0;
    height: 60px;
    background-color: black;
}
#nav ul{
    padding-top: 12px;
    list-style: none;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    color:white;
    font-family: candara;
    font-size: 26px;
    text-decoration: none;
    margin-left:75px;
}
#nav ul li a:hover{
    color:red;
}
#banner{
    height:600px;
    /* background-color: grey; */
}
#bannerImg{
    height:600px;
    width: 100%;
}
#footer{
    font-family: candara;
    font-size: 22px;
}